<!-- views/emailUsado.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Electr칩nico Ya Registrado</title>
    <link rel="stylesheet" href="emailUsado.css">
</head>
<body>
    <div id="container">  
        <h1>Correo Electr칩nico Ya Esta En Uso</h1>
        <p>El correo electr칩nico ingresado ya est치 registrado en nuestra base de datos.</p>
        <p><a href="/iniciarSesion.html">Iniciar Sesion</a></p>
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('container').classList.add('show');
        }, 2000); 
    </script>
</body>
</html>
